.recipe-overview{
    font-family: 'Courier New', monospace;

    .back-button{
        cursor: pointer;
        border: 1px solid rgb(99, 98, 98);
        width: 100px;
        border-radius: 3px;
    }

    .back-button:hover{
        cursor: pointer;
        border: 1px solid black;
        width: 100px;
        border-radius: 3px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
    }

    .back-button-text{
        font-size: 13px;
        padding-right: 7px;
    }

    .back-button-icon{
        vertical-align: text-top;
        font-size: 15px;
    }

    .border-bottom{
        border-bottom: 1px solid #DDC5D8;
    }

    .page-heading{
        font-weight: 1000;
        font-size: 20px;
    }

    .nutrient-content{
        border: 1px solid rgb(174, 173, 173);
        
    }

    .search-results{
        height: 500px;
    }

    .recipe-card{
        height: 320px;
        cursor: pointer;
        border: 1px solid rgb(223, 219, 219);
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);

        .recipe-image{
            height:200px;
        }

        .recipe-label{
            height: 70px;
        }
    }

    .recipe-card:hover{
        height: 320px;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .recipe-label{
        .recipe-label-main{
            font-weight: 1000;
            font-size: 17px;
            color: rgb(115 64 96/var(--tw-bg-opacity,1));
        }
        .recipe-cuisine{
            font-size: 12px;
            font-weight: 700;
            color: rgb(161 91 135);
        }
        .recipe-meal-type{
            font-size: 12px;
            font-weight: 700;
            color: rgb(161 91 135);
        }
        .ellipsis {
            white-space: nowrap;       
            overflow: hidden;         
            text-overflow: ellipsis;   
            width: 200px;              
          }
    }

    .filter{
        border: 2px solid rgb(175, 175, 175);
        color: rgb(163, 161, 161);
        border-radius: 8px;
        text-transform: capitalize;
        margin-left: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 800;
    }

    .no-result-found{
        height: 60vh;
        width: 30vw;
    }
}