.recipe-dashboard{
    .home-header{
        background-color: rgb(115 64 96/var(--tw-bg-opacity,1));
        color: #DDC5D8;
        // height: 100px;

        .title{
            font-size: 17px;
            font-weight: bold;
            letter-spacing: 2px;
        }
    }
}