.recipe-details{
    font-family: 'Courier New', monospace;

    .back-button{
        cursor: pointer;
        border: 1px solid rgb(99, 98, 98);
        width: 100px;
        border-radius: 3px;
    }

    .back-button:hover{
        cursor: pointer;
        border: 1px solid black;
        width: 100px;
        border-radius: 3px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
    }

    .back-button-text{
        font-size: 13px;
        padding-right: 7px;
    }

    .back-button-icon{
        vertical-align: text-top;
        font-size: 15px;
    }

    .border-bottom{
        border-bottom: 1px solid #DDC5D8;
    }

    .page-heading{
        font-weight: 1000;
        font-size: 20px;
    }

    .nutrient-content{
        background: #F3F3F3 !important;
        border-radius: 7px;
    }

    .main-content{
        .header{
            font-size: 25px;
            font-weight: 1000;
            color: rgb(96 8 63 / 73%);
        }
    }

    .image-content{
        height: 30vh;
    }

    .dietery-labels{
        font-size: 14px;
        color: #444A54;
    }

    .ingredient{
        .ingredient-image{
            height: 40px;
            width: 40px;
        }
        .ingredient-text{
            padding-left: 15px;
            color: #cd87bf;
            font-weight: 800;
            font-size: 20px;
        }
    }

    .ellipsis {
        white-space: nowrap;       
        overflow: hidden;         
        text-overflow: ellipsis;   
        width: 450px;              
    }

    .balanced-diet-image{
        height: 100px;
        width: 120px;
    }

    .nutrient-label{
        color: rgb(96 8 63 / 73%);;
        font-weight: 800;
        font-size: 19px;
        padding-left: 10px;
    }

    .nutrient-image{
        height: 50px;
        width: 40px;
    }

    .all-nutrients{
        background-color: rgb(234 233 233);
        // border-radius: 7px;
        border-top: 1px solid rgb(226, 225, 225);
    }
}